{% if article.type == 'images' %}
    {% if article.images.all() | count > 1 %}
        <div style="margin-left: 2em; margin-right: 2em;">
            <div class="image-carousel">
            {% for image in article.images %}
                <div style="width: 100%; text-align: center">
                    <img class="to-fullsize article-image" data-caption="{{ image.caption }}"
                         src="{{ url_for('static', filename='image/articles/' + image.src) }}">
                </div>
            {% endfor %}
            </div>
        </div>
        <p class="image_caption" style="text-align: center;"></p>
    {% else %}
        <div {% if article.wrap_text %} class="wrap-right" {% endif %}>
            <img class="to-fullsize article-image {% if not article.wrap_text %} img-responsive {% endif %}"
                 src="{{ url_for('static', filename='image/articles/' + article.images[0].src) }}"
                 width={{ article.images[0] | wrapped_image_width }}>
            <div style="font-size: 0.8em; color: dimgrey; width:{{ article.images[0] | wrapped_image_width }}px">
                {{ article.images[0].caption }}
            </div>
        </div>
    {% endif %}
{% endif %}

{% if article.video_src %}
    <div class="responsive-video-container">
        <iframe src="{{ article.video_src }}?modestbranding=1&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
{% endif %}

<div>
    {{ article.body | markup | safe }}
</div>

{% if article.pdf_src %}
    <div>
        <object style="border: 5px solid #d2c8bf; width: 98%; height: 970px" data="{{ url_for('static', filename='pdf/' ~ article.pdf_src) }}" type="application/pdf">
            <embed src="{{ url_for('static', filename='pdf/' ~ article.pdf_src) }}" type="application/pdf"></embed>
        </object>
    </div>
{% endif %}