{% extends 'layout.html' %}

{% block content %}

<h1>Articles</h1>

{% if current_user.is_authenticated() %}
    <p>
        <a href="{{ url_for('add_article') }}">Add New</a>
    </p>
{% endif %}

<ul style="list-style-type: none; padding-left: 1em;">
    {% for article in articles %}
        <li style="overflow: hidden;">
            <div style="float: left; width: 5em;">
                {{ article.created_at.strftime('%Y-%m-%d') }}
            </div>
            <div style="overflow: hidden;">
{#                <a {% if article.pdf_src %}#}
{#                    target="_blank" href="{{ url_for('static', filename='pdf/' ~ article.pdf_src) }}"#}
{#                {% else %}#}
{#                    href="{{ url_for('articles', article_id=article.id) }}"#}
{#                {% endif %}>#}
                <a href="{{ url_for('articles', article_id=article.id) }}">
                    {{ article.title }}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}